/* CSS for MyXBlock */

.myxblock_block .count {
    font-weight: bold;
}

.myxblock_block p {
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-columns: 80px 100px 100px;
    grid-template-rows: repeat(3,25px) 10px 30px;
    grid-gap: 10px;
}

.item{
    grid-column: 2 / 4;
}
.enviar{
    width: 100%;
    grid-column: 3/4;
    grid-row: 5;
}